body.woocommerce-account {
	.woocommerce-MyAccount-navigation {
		.woocommerce-MyAccount-navigation-link {
			border: 1px solid #ebebeb;
			border-bottom-width: 0;

			a {
				color: #707173;
				opacity: 0.7;
			}

			&:last-child {
				border-bottom-width: 1px;
			}

			&.is-active {
				a {
					color: #555555;
					background: #ebebeb;
					font-weight: 600;
					opacity: 1;
				}
			}
		}
	}

	.woocommerce-MyAccount-content {
		p {
			a {
				color: #d26e4b;
				text-decoration: underline !important;
			}
		}

		@media only screen and (max-width: 921px) {
			margin-top: 50px;
		}
	}
}
