.product-added-to-cart-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 49;
	opacity: 0;
	visibility: hidden;
	transition: visibility 0s .3s, opacity .3s linear;


	@media only screen and (max-width: 450px) {
		top: 50px;
	}

	&.open {
		opacity: 1;
		visibility: visible;
		transition: opacity .3s ease;
		z-index: 100;
	}

	.container {
		display: flex;
		height: 100%;
		width: 100%;
		-webkit-box-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		align-items: center;
		padding: 20px;
		@media only screen and (max-width: 768px) {
			padding: 10px;
		}

		.wrapper {
			max-width: 950px;
			width: 100%;
			position: relative;

			.close-popup {
				width: 24px;
				height: 24px;
				text-align: center;
				text-decoration: none;
				z-index: 200;
				border-radius: 50%;
				color: #fff;
				font-size: 26px;
				transition: background .3s ease;
				position: absolute;
				right: 10px;
				top: 10px;
				padding: 0 0 0 2px;
				line-height: 29px;
				cursor: pointer;
				border: 0;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}

		.inner {
			height: 350px;
			max-height: 90vh;
			overflow-y: auto;
			width: 100%;
			padding: 0;
			background: #fff;
			display: flex;
			flex-direction: column;
			position: relative;
			z-index: 150;
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
			border-radius: 14px;
			border: 1px solid;

			@media only screen and (max-width: 450px) {
				max-height: 82vh;
				height: unset;
			}

			.product-added-info {
				display: flex;
				flex-flow: row wrap;
				height: 100%;

				.added-info {
					display: flex;
					justify-content: center;
					align-items: center;
					flex: 1;
					border-left: 1px solid #222222;
					//background-color: rgb(239, 245, 254);

					@media screen and (max-width: 991px) {
						padding-block: 25px;
						flex: 100%;
					}

					.image {
						text-align: center;
					}

					img {
						max-height: 200px;
						object-fit: contain;
						margin-bottom: 15px;
						width: 100%;
						border-radius: 9999px;
						max-width: 200px;
						text-align: center;
					}

					.price {
						text-align: center;
						font-weight: bold;
						color: #222222;
					}

					h4 {
						font-size: 16px;
						line-height: 1.5;
						text-align: center;
						color: #222222;
						margin-bottom: 14px;
					}
				}

				.product-added-actions {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					flex: 1;

					@media screen and (max-width: 991px) {
						margin-block: 25px;
						flex: 100%;
					}

					span {
						font-size: 20px;
						line-height: 1.6;
						color: #222222;
						margin-bottom: 50px;
					}

					a.go-to-checkout {
						font-size: 18px;
						line-height: 1;
						background-color: var(--ast-global-color-0);
						color: white;
						border-radius: 50px;
						padding: 20px 50px;
						display: flex;
						justify-content: center;
						align-items: center;
						margin-bottom: 30px;
						font-weight: 400;
					}

					a.continue-shopping {
						font-weight: 400;
						font-size: 18px;
						line-height: 1;
						background-color: var(--ast-global-color-0);
						color: white;
						border-radius: 50px;
						padding: 16px 50px;
					}
				}
			}
		}
	}

	.bg {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
	}


	h4 {
		margin-top: 22px;
		padding: 0 20px;
		text-align: center;
		font-family: var(--typography--heading-font);
		font-size: 14px;
		line-height: 1;
		letter-spacing: -0.02em;
		color: var(--color--text-positive);
		margin-bottom: 18px;
	}
}
